@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    z-index: 1000;
    box-shadow: 0 0 15px rgb(112, 143, 188);
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
}
header .logo{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.4s ease;
}

.logo:hover{
    color: brown;
    transform: scale(1.05);
}

nav a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.2s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,nav a.active{
    color:brown ;
    transform: scale(1.2);
    border-bottom: 3px solid brown;
}

section.Home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
    padding: 0 100px;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: fixed;
    width: 20vw;
    top:200px;
    left: 120px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(112, 143, 188);
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.home-img img:hover{
    transform: scale(1.05);
}

.home-content{
    width: 60%;
    height: 95%;
    right: 100px;
    top:50px;
    position: absolute;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgb(112, 143, 188);
    transition: 0.4s ease-in;
    
}
.home-content:hover{
    transform: scale(1.02);
}

.home-content h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
}
.home-content h1 b{
    color: brown;
    font-size: 40px;
    font-weight: 600;
}


.home-content h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
}

.home-content p{
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
    line-height: 1.5;
}
.home-content .social-icons{
    margin-top: 20px;
}

.social-icons a i{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.2s ease-in;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(112, 143, 188);
    
}   

.social-icons a i:hover{
    background: brown;
    transform: scale(1.15);
}

.hire-me .btn{
    display: inline-block;
    padding: 10px 25px;
    background: brown;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.2s ease;
    letter-spacing: 2px;
    box-shadow: 0 0 12px rgb(112, 143, 188);
}
.hire-me .btn:hover{
    background: darkred;
    transform: scale(1.1);
}

.typing{
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
}

.typing span{
    position: relative;
}

.typing span::before{
    content: "learner";
    color: brown;
    animation: words 20s infinite;
}

.typing span::after{
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid black;
    animation: cursor 0.8s infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid brown ;
    }
    
}
@keyframes words{
    0%,25%{
        content: 'learner';
    }
    25%,50%{
        content: 'Web developer';
    }
    50%,75%{
        content: 'learner';
    }
    75%,100%{
        content: 'Web developer';
    }
    
}
